# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# Dependencies (if you ever add a build step)
node_modules/

# Build output
dist/
build/
